
      <div class="box-header">
        <h3 class="box-title">Responsive Hover Table</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>ID</th>
            <th>utilisateur</th>
            <th>Date</th>
            <th>Status</th>
            <th>Valider avec le collaborateur</th>
          </tr>
          <tr>
            <td>183</td>
            <td>John Doe</td>
            <td>03-10-2017</td>
            <td><span class="label label-success">Validé</span></td>
            <td><a class="btn btn-default"> <i class="fa fa-check"></i></td>
              
          </tr>
          <tr>
            <td>219</td>
            <td>Alexander Pierce</td>
            <td>01-09-2017</td>
            <td><span class="label label-warning">En attente de validation</span></td>
            <td><a class="btn btn-default"> <i class="fa fa-check"></i></td>
          </tr>
 
        </table>
      </div>

