
    <section class="content-header">
      <h1>
        Search
        <div class="selector"><small>Performante</small></div>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Search</li>
      </ol>
    </section>

    <div class="col-md-12">
      <div class="form-group">
        <label>Recherche par compétences web  </label>
        <select class="form-control select2" multiple="multiple" data-placeholder="Sélectionnez" style="width: 100%;">
          <option>Synfony</option>
          <option>Javascript</option>
          <option>Html</option>
          <option>J2EEE</option>
          <option>NodeJs</option>
     
        </select>
      </div>
  </div>
  <div class="col-md-12">
      <div class="form-group">
        <label>Recherche par compétences métier  </label>
        <select class="form-control select2" multiple="multiple" data-placeholder="Sélectionnez" style="width: 100%;">
          <option>Banque</option>
          <option>Assurance</option>
          <option>TMA</option>
          <option>Télécom</option>
         
        </select>
      </div>
      </div>
      <script type="text/javascript">
        $('select').select2();
    </script>